<div fxLayout="row" fxFill fxLayoutAlign="space-evenly stretch">
    <div class="tag-list-container" fxFlex="20">
        <div *ngFor="let tag of tagList" fxLayout="row" style="font-size: 15px; font-weight: normal; height: 25px; margin: 0 10px;">
            <div fxFlex="60" style="text-align: left; padding-left: 10px;">{{ tag.title | translate }}</div>
            <div fxFlex="40" style="text-align: right; padding-left: 10px;">{{ tag.value }} {{ tag.unit }}</div>
        </div>
    </div>
    <div fxFlex="80" style="text-align: center">
        <span>{{ title | translate }}</span>
    </div>
</div>